.cell-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .cell {
    flex: 0 0 14%;
    height: 115px;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    .number {
      padding: 10px;
    }
    .event {
      padding-left: 10px;
      font-style: italic;
    }
  }
}